.navButton {
    width: 12.5vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navButton:hover {
    background-color: #e8ece842;
    color: white;
    transition: 0.3s;
}

.readButton {
    border-color: lightblue;
    background-color: lightblue;
    color: #17a2b8
}

.okbro {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    color:#2db8ce; 
    text-decoration: none; 
    cursor:pointer;
    transition: 0.3s;
}

.link {
    color:#17a2b8; 
    text-decoration: none; 
    cursor:pointer;
    transition: 0.3s;
}